<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bharat.otouch.www.shopeasy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk android:minSdkVersion="19" tools:overrideLibrary="com.paypal.android.sdk.payments"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MensFashion"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WomenFashion"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Accessories"
            android:label="@string/title_activity_accessories"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HomeAppliences"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Phones"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PhoneAccessories"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ComputerAccessories"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Kitchen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Health"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HomeDecoration"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Books"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BikeandCar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginSignUp.Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Feedback"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KidsFashion"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Computer"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".productDetail.ProductDetail" />
        <activity android:name=".LoginSignUp.SignUp"/>
    </application>

</manifest>